<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <meta name="format-detection" content="telephone=no, email=no, date=no, address=no">
    <title>车辆定位首页</title>
    <link rel="stylesheet" type="text/css" href="../../../public/css/api.css"/>
    <link rel="stylesheet" type="text/css" href="../../../public/css/aui.css"/>
    <link rel="stylesheet" type="text/css" href="../../css/public.css">
    <link rel="stylesheet" type="text/css" href="../../css/carManagement.css">
  </head>
  <body>
    <div class="flex-wrap flex-vertical height100">
      <header class="aui-bar aui-bar-nav aui-bar-light" id="header">
        <div class="aui-pull-left aui-btn" tapmode onclick="onBack()">
            <span class="aui-iconfont aui-icon-left color-333"></span>
        </div>
        <div class="aui-title color-333">车辆定位</div>
        <a class='aui-pull-right color-598' tapmode onclick="onOpenUseCar()">
            <span>用车</span>
        </a>
      </header>

      <div class="search-div">
        <div class="aui-searchbar aui-searchbar-square list-search" id="search">
            <div class="aui-searchbar-input border-radius4 bgc-ff">
                <i class="aui-iconfont aui-icon-search"></i>
                <div class="width75 relative">
                  <input class="width100" type="search" placeholder="请输入车牌号码/车主姓名" id="search-input">
                  <div class="aui-searchbar-clear-btn margin-top3 right75" tapmode onclick="onEmpty()">
                      <i class="aui-iconfont aui-icon-close"></i>
                  </div>
                </div>
                <div class="search-btn color-598 text-cent aui-hide" tapmode onclick="onGetList()">
                  搜索
                </div>
            </div>
        </div>
      </div>

      <!-- 地图 -->
      <div class="map-box">
          <div class="map" id="map"></div>
      </div>

      <div class="map-btn-div top67 fixed right5 z-index10">
          <div class="map-btn-bs border-radius4">
            <div class="font-S6 text-cent">
              <img src="../../image/layer.png" class='map-btn-img' alt="">
              <span class="margin-bot3">图层</span>
            </div>
          </div>

          <div class="map-btn-bs border-radius4 margin-top75">
            <div class="font-S6 text-cent" tapmode onclick="onOpenCarList('1')">
              <span class="map-right-number">24</span>
              <span class="margin-bot3 color-666">总数</span>
            </div>
            <div class="map-btn-line"></div>
            <div class="font-S6 text-cent" tapmode onclick="onOpenCarList('2')">
              <span class="map-right-number color-598">18</span>
              <span class="margin-bot3 color-666">在线</span>
            </div>
            <div class="map-btn-line map-line"></div>
            <div class="font-S6 text-cent" tapmode onclick="onOpenCarList('3')">
              <span class="map-right-number">6</span>
              <span class="margin-bot6 color-666">离线</span>
            </div>
          </div>

          <div class="map-btn-bs border-radius4 margin-top75">
            <div class="font-S6 text-cent location-btn">
              <img src="../../image/location.png" class='map-btn-img' alt="">
              <span class="margin-bot3">定位</span>
            </div>
          </div>

          <div class="map-btn-bs border-radius4 margin-top75">
            <div class="right-item-item  map-scale-btn up">
              <img src="../../image/plus.png" class='enlarge' alt="">
            </div>
            <div class="right-item-item map-scale-btn down">
              <img src="../../image/reduce.png" class='narrow' alt="">
            </div>
          </div>
        </div>

        <!-- <div class="map-member-img" id="map-member-img-3">
            <div class="map-text">渝AAAAAA</div>
            <div class="map-triangle"></div>
            <img src="../../image/ordinary_car.png" />
        </div> -->
    </div>
  </body>
  <script type="text/javascript" src="../../../public/script/api.js"></script>
  <script type="text/javascript" src="../../../public/script/common.js"></script>
  <script type="text/javascript" src="../../../public/script/remote.js"></script>
  <script type="text/javascript" src="../../../public/script/zepto.js"></script>
  <script type="text/javascript" src="../../../public/script/template.js"></script>

  <script type="text/javascript" src="../../script/public.js"></script>
  <script type="text/javascript" src="../../script/sntgis/sntgis.js"></script>
  <script type="text/javascript" src="../../script/sntgis/sntgis_extend.js"></script>
  <script type="text/javascript" src="../../script/common/common.js"></script>
  <script type="text/javascript" src="../../script/common/gis.js"></script>
  <script type="text/javascript" src="../../ajax/ajaxApi.js"></script>
  <script type="text/javascript" src="../../ajax/ajaxMethod.js"></script>
  <script type="text/javascript" src="../../script/carManagement/carManagement.js"></script>
  <script type="text/template" id='carLayer'>
    {{if datas.length > 0}}
      {{each datas item i}}
      <div class="map-member-img" id="map-member-img-{{i}}" tapmode onclick="onOpenCarInfo({{item}})">
          <div class="map-text">{{item.carName}}</div>
          <div class="map-triangle"></div>
          {{if item.type == '0'}}
          <img src="../../image/ordinary_car.png" />
          {{else}}
          <img src="../../image/project_car.png" />
          {{/if}}
      </div>
      {{/each}}
    {{/if}}
  </script>
</html>
