
#header {
  height: 8rem;
}

.hander-bg {
  width: 100%;
  height: auto;
  position: fixed;
  z-index: -1;
  top: 0;
}

.aui-bar-nav .aui-btn .aui-iconfont {
  font-weight: bold;
}

.aui-bar-nav .aui-btn {
  height: 1.25rem;
  line-height: 1.25rem;
}

.aui-bar-nav {
  background-color: transparent;
}

.item {
  width: 100%;
  height: 4.82rem;
  margin-top: 0.3rem;
  z-index: 10;
  padding: 0rem 0.75rem;
}

.item-cont {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 0.75rem;
}

.bgc-cont {
  background: url('../image/um_cont_bg.png') no-repeat;
  background-size: 43%;
  background-position: 98% 0.75rem;
}

.bg-come {
  background: url('../image/come.png');
  background-size: 100% 100%;
}

.item-content {
  width: 100%;
  height: 65%;
  position: relative;
  padding-top: 2%;
}

.item-content-line {
  width: 0.2rem;
  height: 1.5rem;
  background: rgba(255,255,255,0.50);
  border-radius: 0.2rem;
  display: inline-block;
  margin-top: 0.1rem;
}

.item-content-number {
  font-size: 1.7rem;
  font-weight: bold;
  color: #fff;
  line-height: 1;
  vertical-align: top;
  margin-left: 0.5rem;
}

.item-cont-text {
  margin-left: 0.7rem;
  color: rgba(255,255,255,0.60);
  font-size: 0.75rem;
}

.mange-item {
  width: 47%;
  height: 3.5rem;
  float: left;
  box-shadow: 0 0 32px 0 rgba(0,0,0,0.10);
  border-radius: 0.4rem;
  padding: 0.75rem;
  line-height: 2rem;
}

.mange-item-img {
  display: inline-block;
  height: 2rem;
}

.mange-item-text {
  font-size: 0.75rem;
  color: #333;
  font-weight: bold;
  margin-left: 0.3rem;
  vertical-align: top;
}
