<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <meta name="format-detection" content="telephone=no, email=no, date=no, address=no">
    <title>选择图层</title>
    <link rel="stylesheet" type="text/css" href="../../../public/css/api.css"/>
    <link rel="stylesheet" type="text/css" href="../../../public/css/aui.css"/>

    <link rel="stylesheet" type="text/css" href="../../css/public.css">
    <link rel="stylesheet" type="text/css" href="../../css/common.css">

    <link rel="stylesheet" type="text/css" href="../../css/areaLayer.css">
  </head>
  <body>
    <div class="flex-wrap flex-vertical height100">
      <header class="aui-bar aui-bar-nav aui-bar-light bgi-none border-bottom" id="header">
        <div class='aui-pull-left aui-btn' tapmode onclick="onBack()">
            <span class='aui-iconfont aui-icon-left'></span>
        </div>
        <div class='aui-title'>选择图层</div>
        <a class='aui-pull-right color-598' tapmode onclick='onSave()'>
            <span>划分区域</span>
        </a>
      </header>

      <div class="header-type display-flex text-cent line-height25 color-666">
          <div class="flex1 header-type-item color-598" tapmode onclick="onMenu(0, this)">
              <span class="line-height1">
            管点图层
            <div class="type-line bgc-blue margin-top3 width60"></div>
          </span>
          </div>
          <div class="flex1 header-type-item" tapmode onclick="onMenu(1, this)">
              <span class="line-height1">
            管线图层
            <div class="type-line margin-top3 width60"></div>
          </span>
          </div>
      </div>

      <div id='contBox' class='flex-con flex-content height100 bgc-f3'>
        <ul id='layerList' class="aui-content-padded task-info line-height1 font-S75 color-333">

        </ul>
        <ul id='layerList1' class="aui-content-padded task-info line-height1 font-S75 color-333 aui-hide">

        </ul>
      </div>
    </div>
  </body>
  <script type="text/javascript" src="../../../public/script/api.js"></script>
  <script type="text/javascript" src="../../../public/script/common.js"></script>
  <script type="text/javascript" src="../../../public/script/remote.js"></script>
  <script type="text/javascript" src="../../../public/script/zepto.js"></script>
  <script type="text/javascript" src="../../../public/script/template.js"></script>
  <script type="text/javascript" src="../../../public/script/aui-dialog.js"></script>

  <script type="text/javascript" src="../../ajax/ajaxApi.js"></script>
  <script type="text/javascript" src="../../ajax/ajaxMethod.js"></script>
  <script type="text/javascript" src="../../script/public.js"></script>
  <script type="text/javascript" src="../../script/area/areaLayer.js"></script>
  <script type="text/template" id="pointAndLine">
    {{if datas.length > 0}}
      {{each datas item i}}
        {{if i == 0}}
        <li class="bgc-ff border-radius4">
        {{else}}
        <li class="bgc-ff border-radius4 margin-top75">
        {{/if}}
          <div class="layer-title padding75 ">
            <span class="color-666">{{item.label}}</span>
            <label class="float-rig color-999"><input class="aui-checkbox margin-top0" onchange="onCheckArr(this)" type="checkbox" name="{{item.label}}"> 全选</label>
          </div>
          <div class="layer-cont border-bottom-radius4">
            {{each item.children childrenItem j}}
            {{if (j+1)%4 == 0}}
            <div class="layer-cont-item border-rig-none relative">
            {{else}}
            <div class="layer-cont-item relative">
            {{/if}}
            {{if childrenItem != ''}}
            <label class="width100 height100 layerItem">
                <input class="aui-checkbox margin-top0 absolute right4" item="{{childrenItem}}" onchange="onCheckItem(this)" type="checkbox" name="{{item.label}}">
                <div class="item-cont">
                  <span class="item-cont-img"><img class="width100 height100" src="{{item.urlApi + childrenItem.icon}}" alt=""></span>
                  <span class="item-cont-name">{{childrenItem.label}}</span>
                </div>
            </label>
            {{/if}}
            </div>
            {{/each}}
          </div>
        </li>
      {{/each}}
    {{else}}
      <div class="no-data font-S8">暂无数据!</div>
    {{/if}}
  </script>

</html>
