<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <meta name="format-detection" content="telephone=no, email=no, date=no, address=no">
    <title>选择设备点-设备-管道</title>
    <link rel="stylesheet" type="text/css" href="../../../public/css/api.css"/>
    <link rel="stylesheet" type="text/css" href="../../../public/css/aui.css"/>

    <link rel="stylesheet" type="text/css" href="../../css/public.css">
    <link rel="stylesheet" type="text/css" href="../../css/common.css">
  </head>
  <body>
    <div class="flex-wrap flex-vertical height100">
      <header class="aui-bar aui-bar-nav aui-bar-light bgi-none" id="header">
          <div class='aui-pull-left aui-btn' tapmode onclick="onBack()">
              <span class='aui-iconfont aui-icon-left'></span>
          </div>
          <div class="aui-title">设备点</div>
          <a class='aui-pull-right color-598' tapmode onclick="onSelectOk()">
              <span>确定</span>
          </a>
      </header>

      <div class="flex-con flex-content height100 bgc-f3">
        <div class='aui-content-padded border-radius4'>
          <div class="aui-searchbar aui-searchbar-square" id="search">
              <div class="aui-searchbar-input border-radius4 bgc-ff">
                  <i class="aui-iconfont aui-icon-search color-333"></i>
                  <div class="width75 relative">
                    <input class="width100" oninput='onGetSearchVal()' type="search" placeholder="请输入设备名称" id="searchValue">
                    <div class="aui-searchbar-clear-btn margin-top3 right75" tapmode onclick='onEmptySearch()'>
                        <i class="aui-iconfont aui-icon-close"></i>
                    </div>
                  </div>
                  <div class="search-btn color-598 text-cent aui-hide" tapmode onclick="onSearch()">
                    搜索
                  </div>
              </div>
          </div>
        </div>
        <ul id="equipmentList" class="aui-content-padded font-S75">
          <!-- <li class="padding75 bgc-ff border-radius4">
            <div class="relative">
              名称：蝶阀
              <input class="aui-radio absolute right0" style="" type="checkbox" name="demo1">
            </div>
            <div class="margin-top6">编号：JS808029</div>
            <div class="relative margin-top6">
              地址：南京市溧水区交通路阳光小区98号
              <span class="aui-iconfont aui-icon-location absolute right0"></span>
            </div>
          </li> -->
        </ul>
      </div>
    </div>
  </body>
  <script type="text/javascript" src="../../../public/script/api.js"></script>
  <script type="text/javascript" src="../../../public/script/common.js"></script>
  <script type="text/javascript" src="../../../public/script/remote.js"></script>
  <script type="text/javascript" src="../../../public/script/zepto.js"></script>
  <script type="text/javascript" src="../../../public/script/template.js"></script>

  <script type="text/javascript" src="../../script/public.js"></script>
  <script type="text/javascript" src="../../script/equipmentSelect.js"></script>
  <script type="text/template" id='list'>
    {{if datas.length > 0}}
       {{each datas item i}}
       {{if i == 0}}
       <li class="padding75 bgc-ff border-radius4">
       {{else}}
       <li class="padding75 bgc-ff border-radius4 margin-top75">
       {{/if}}
         <div class="relative">
           名称：{{item.deviceName}}
           {{if item.isCheck == true}}
           <input class="aui-radio absolute right0 equipmentItem" checked=true item="{{item}}" style="" type="radio" name="demo1">
           {{else}}
           <input class="aui-radio absolute right0 equipmentItem" item="{{item}}" style="" type="radio" name="demo1">
           {{/if}}
         </div>
         <div class="margin-top6">编号：{{item.deviceCode}}</div>
         <div class="relative margin-top6">
           地址：{{item.address}}
           <span class="aui-iconfont aui-icon-location absolute right0"></span>
         </div>
       </li>
       {{/each}}
   {{else}}
     <div class="no-data font-S8">暂无数据!</div>
   {{/if}}
  </script>
</html>
