<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <meta name="format-detection" content="telephone=no, email=no, date=no, address=no">
    <title>访客申请-管理列表</title>
    <link rel="stylesheet" type="text/css" href="../../../public/css/api.css"/>
    <link rel="stylesheet" type="text/css" href="../../../public/css/aui.css"/>
    <link rel="stylesheet" type="text/css" href="../../css/public.css">
    <link rel="stylesheet" type="text/css" href="../../css/userList.css">
  </head>
  <body>
    <div class="flex-wrap flex-vertical height100">
      <header class="aui-bar aui-bar-nav aui-bar-light" id="header">
        <div class="aui-pull-left aui-btn" tapmode onclick="onBack()">
            <span class="aui-iconfont aui-icon-left color-333"></span>
        </div>
        <div class="aui-title color-333">访客申请列表</div>
        <a class='aui-pull-right' aui-popup-for="screenPop">
            <span>筛选</span>
            <img src="../../image/screen.png" alt="">
        </a>
      </header>

      <div class="search-div">
        <div class="aui-searchbar aui-searchbar-square list-search" id="search">
            <div class="aui-searchbar-input border-radius4">
                <i class="aui-iconfont aui-icon-search"></i>
                <div class="width75 relative">
                  <input class="width100" type="search" oninput='onGetSearchVal()' placeholder="请输入人员姓名或手机号码" id="search-input">
                  <div class="aui-searchbar-clear-btn margin-top3 right75" tapmode onclick="onEmpty()">
                      <i class="aui-iconfont aui-icon-close"></i>
                  </div>
                </div>
                <div class="search-btn color-598 text-cent aui-hide"  tapmode onclick="onGetList()">
                  搜索
                </div>
            </div>
        </div>
      </div>

      <div class="flex-con flex-content height100 bgc-f3">
        <ul id="list" class="aui-content-padded margin-top0 font-S75">
          <!-- <li class="padding75 bgc-ff border-radius4 line-height1 color-666">
            <div>
              <span class="color-333 font-S75">姓名：戴永明</span>
              <span class="item-time">2020-08-11 08:21:32</span>
            </div>
            <div class="margin-top6">
              联系电话：15087655678
            </div>
            <div class="margin-top6">
              来访事由：找经营科章经理
            </div>
            <div class="margin-top6">
              被访人：章林
            </div>
            <div class="margin-top75 line"></div>
            <div class="item-btn-div">
              <div class="item-refuse  aui-hide">已拒绝</div>
              <div class="item-btn ">确认离开</div>
              <div class="item-btn ">通过</div>
              <div class="item-btn  margin-right75">拒绝</div>
              <div class="item-btn  margin-right75" tapmode onclick="onDelete(1)">删除</div>
            </div>
          </li> -->
        </ul>
      </div>
    </div>

    <div class="aui-popup custom-popup font-S8 text-cent dialogDom" id="dialogDom">
      <div class="dialogDom-div">
        <div class="dialogText">您确定该访客申请通过吗？</div>
        <div class="dialogBtn">
          <div class="dialog-close-btn" tapmode onclick="onHideDialogDom()">取消</div>
          <div class="dialog-ok-btn" tapmode onclick="onDialogOk()">确定</div>
        </div>
      </div>
    </div>

    <div class="aui-popup custom-popup font-S8 text-cent" style='border-radius: 0;' id="screenPop">
      <div class="custom-popup-item color-333 relative">
        <span class="absolute" style="left: 5rem; right: 5rem;">请选择日期</span>
        <a class='aui-pull-right margin-right75' aui-popup-for="screenPop">
            <span class="aui-iconfont aui-icon-close" style="font-size: 1rem; color: #999999;"></span>
        </a>
      </div>
      <div class="select-time-div margin-center">
        <input type="text" class="time-input" id="start-time" tapmode onclick="onSelectTime('1')" readonly name="" placeholder="开始时间">
        <span  class="time-text">至</span>
        <input type="text" class="time-input" id="end-time" tapmode onclick="onSelectTime('2')" readonly name="" placeholder="结束时间">
      </div>
      <div id="select-time-cont" class="select-time-cont" style="width: 100%; height: 12rem;">

      </div>
      <div class="display-flex">
        <div class="flex1">
          <div class='footer-btn btn-border task-stop' tapmode onclick="onReset()">
            重置
          </div>
        </div>
        <div class="flex1">
          <div class='footer-btn bgc-blue color-fff task-complete' tapmode onclick="onGetList()">
            确定
          </div>
        </div>
      </div>
    </div>

  </body>
  <script type="text/javascript" src="../../../public/script/api.js"></script>
  <script type="text/javascript" src="../../../public/script/common.js"></script>
  <script type="text/javascript" src="../../../public/script/zepto.js"></script>
  <script type="text/javascript" src="../../../public/script/aui-popup.js"></script>
  <script type="text/javascript" src="../../../public/script/template.js"></script>

  <script type="text/javascript" src="../../script/rolldate/rolldate.js"></script>

  <script type="text/javascript" src="../../script/public.js"></script>
  <script type="text/javascript" src="../../script/remote.js"></script>
  <script type="text/javascript" src="../../script/userManagement/userList.js"></script>
  <script type="text/template" id='applyUserList'>
     {{if datas.length > 0}}
        {{each datas item i}}
        {{if i == 0}}
        <li class="padding75 bgc-ff border-radius4 line-height1 color-666" tapmode onclick="onOpenDetail({{item}})">
        {{else}}
        <li class="padding75 bgc-ff border-radius4 line-height1 color-666 margin-top75" tapmode onclick="onOpenDetail({{item}})">
        {{/if}}
          <div>
            <span class="color-333 font-S8">姓名：{{item.visitorName}}</span>
            <span class="item-time">{{item.visitTime.replace("T"," ")}}</span>
          </div>
          <div class="margin-top6">
            联系电话：{{item.phoneNumber}}
          </div>
          <div class="margin-top6">
            来访事由：{{item.reason}}
          </div>
          <div class="margin-top6">
            被访人：{{item.interviewees}}
          </div>
          <div class="margin-top75 line"></div>
          <div class="item-btn-div font-S8">
            {{if item.CheckStatus == 0}}
            <div class="item-refuse ">已拒绝</div>
            <div class="item-btn  aui-hide">通过</div>
            <div class="item-btn  margin-right75 aui-hide">拒绝</div>
            {{else}}
            <div class="item-refuse  aui-hide">已拒绝</div>
            <div class="item-btn " tapmode onclick="onOpenDialog({{item}}, '1')">通过</div>
            <div class="item-btn  margin-right75" tapmode onclick="onOpenDialog({{item}}, '2')">拒绝</div>
            {{/if}}
            <div class="item-btn  margin-right75" tapmode onclick="onOpenDialog({{item}}, '3')">删除</div>
          </div>
        </li>
        {{/each}}
    {{else}}
      <div class="no-data font-S8">暂无数据!</div>
    {{/if}}
  </script>
  <script type="text/template" id='manageUserList'>
     {{if datas.length > 0}}
        {{each datas item i}}
        {{if i == 0}}
        <li class="padding75 bgc-ff border-radius4 line-height1 color-666" tapmode onclick="onOpenDetail({{item}})">
        {{else}}
        <li class="padding75 bgc-ff border-radius4 line-height1 color-666 margin-top75" tapmode onclick="onOpenDetail({{item}})">
        {{/if}}
          <div>
            <span class="color-333 font-S8">姓名：{{item.visitorName}}</span>
            <span class="item-time">{{item.visitTime.replace("T"," ")}}</span>
          </div>
          <div class="margin-top6">
            联系电话：{{item.phoneNumber}}
          </div>
          <div class="margin-top6">
            来访事由：{{item.reason}}
          </div>
          <div class="margin-top6">
            被访人：{{item.interviewees}}
          </div>
          <div class="margin-top6">
            来访时间：{{item.visitTime.replace("T"," ")}}
          </div>
          {{if item.leaveTime != null}}
          <div class="margin-top6">
            离开时间：{{item.leaveTime.replace("T"," ")}}
          </div>
          {{/if}}
          {{if item.leaveTime == null}}
          <div class="margin-top75 line"></div>
          <div class="item-btn-div font-S8">
            <div class="item-btn" tapmode onclick="onOpenDialog({{item}}, '4')">确认离开</div>
          </div>
          {{/if}}
        </li>
        {{/each}}
    {{else}}
      <div class="no-data">暂无数据!</div>
    {{/if}}
  </script>

</html>
