
.item {
    width: 90%;
    height: 5rem;
    background-color: #FFF;
    border-radius: 0.5rem;
    margin: 1rem auto;
    box-sizing: border-box;
    padding: 0.5rem;
    display: flex;
}

.item img {
    height: 3rem;
    margin: 0.5rem;
    display: inline-block;
}

.item div {
    width: calc(100% - 4rem);
    height: 100%;
    display: inline-block;
    box-sizing: border-box;
    padding: 0.5rem;
    position: relative;
}

.item-title {
    font-size: 0.9rem;
    color: #000;
}

.item-number {
    height: 1.5rem;
    font-size: 1.2rem;
    color: #000;
    font-weight: 400;
    position: absolute;
    bottom: 0.5rem;
}
