
.search-div {
  width: 100%;
  height: 3rem;
  background-color: #F3F3F3;
  padding: 0.5rem 0.75rem;
}

.list-search {
    width: 100%;
}

.aui-searchbar {
    height: 2rem;
    box-shadow: 0 3px 9px 0 rgba(0,0,0,0.20);
}

.aui-searchbar-square .aui-searchbar-input {
    background-color: #fff;
}

.aui-searchbar .aui-iconfont {
    font-weight: bold;
    color: #333!important;
}
