
html, body {
  background-color: rgba(0, 0, 0, 0.3);
}

.car-name-item {
  width: 48%;
  height: 2rem;
  display: inline-block;
  text-align: center;
  line-height: 2rem;
  border: 1px solid #E8E8E8;
  border-radius: 0.2rem;
}

.active {
  border: 1px solid #5982FF;
  color: #5982FF;
}

.checked {
  position: absolute;
  bottom: -1px;
  right: -1px;
  width: 1rem;
  border-bottom-right-radius: 0.2rem;
  opacity: 0;
}

.active .checked {
  opacity: 1;
}

.width75-right {
  width: 75%!important;
  margin-left: 25%;
}
